<a href="https://colab.research.google.com/github/gabcab/AlgoritmosOptimizacion/blob/main/SeminarioAlgoritmosJoseGabrielCabreja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algoritmos de optimización - Seminario<br>
Nombre y Apellidos: José Gabriel Cabreja Marzán  <br>
Url: https://github.com/gabcab/AlgoritmosOptimizacion/blob/main/SeminarioAlgoritmosJos%C3%A9GabrielCabreja.ipynb <br>
Problema:
>1. Combinar cifras y operaciones

Descripción del problema:

- El problema consiste en analizar el siguiente problema y diseñar un algoritmo que lo resuelva.<br>
- Disponemos de las 9 cifras del 1 al 9 (excluimos el cero) y de los 4 signos básicos de las operaciones fundamentales: suma(+), resta(-), multiplicación(*) y división(/)<br>
- Debemos combinarlos alternativamente sin repetir ninguno de ellos para obtener una cantidad dada. <br>
Un ejemplo sería para obtener el 4:<br>
<b><center>4+2-6/3*1 = 4</center></b>


(*) La respuesta es obligatoria

(*)¿Cuantas posibilidades hay sin tener en cuenta las restricciones?<br>
<center>
C (13,9) = n! / x! (n – x)! <br>
n= 13 <br>
x= variable <br>
13! / 1! (13 – 1)! = <b>2.982752926×10¹⁸</b><br>
13! / 2! (13 – 2)! = <b>1.242813719×10¹⁷</b><br>
13! / 3! (13 – 3)! = <b>3.76610218×10¹⁵</b><br>
13! / 4! (13 – 4)! = <b>9.41525545×10¹³</b><br>
</center>
<br>
¿Cuantas posibilidades hay teniendo en cuenta todas las restricciones.
<center>
C (13,9) = n! / x! (n – x)! <br>
n= 13 <br>
x= 9 <br>
13! / 9! (13 – 9)! = 13!/9!*4!=<b>411840</b>
</center>
<br>
Según esta formula para calcular el # de combinaciones posible existe <b>411840</b> pero en la realidad el tiempo sube exageradamente luego del número <b>96</b> ya que en nuestro caso no solo se trata del número de combinaciones sino de encontrar un resultado con dichas combinaciones. Noté que el algoritmo mejoraba si se agregaban más números entre los que poder escoger (agregué el 10 y las corridas luego del 96 funcionaban perfectamente).

Respuesta

Modelo para el espacio de soluciones<br>
(*) ¿Cual es la estructura de datos que mejor se adapta al problema? Argumentalo.(Es posible que hayas elegido una al principio y veas la necesidad de cambiar, arguentalo)

Respuesta

La estructura datos utilizadas en su mayoría fueron arreglos para guardar los resultados y para crear las fórmulas. Al final uso un dataframe para mostrar los resultados en una tabla HTML.

Según el modelo para el espacio de soluciones<br>
(*)¿Cual es la función objetivo?

In [27]:
import random
import numpy as np

#Genera ecuación con números y signos aleatorios
def generarEcuacion():
    """
    Funcion que genera ecuación aleatoria

    :return: ecuación(str)
    """
    outputList = []
    lista = ["num", "sign", "num", "sign", "num", "sign", "num", "sign", "num"]
    signs = ['+', '-', '*', '/']
    
    for item in lista:
        elemento=''
        if item == "num":
            while True:
                elemento = random.randint(1, 10)
                if elemento not in outputList:
                    outputList.append(elemento)
                    break
        else:
            while True:
                #elemento = np.random.choice(signs)
                elemento = random.choice(signs)
                #elemento = np.random.default_rng().choice(signs)
                if elemento not in outputList:
                    outputList.append(elemento)
                    break
                    
    listToStr = ''.join([str(elem) for elem in outputList])
    return listToStr

(*)¿Es un problema de maximización o minimización?

Respuesta

Minimización

Diseña un algoritmo para resolver el problema por fuerza bruta

Respuesta

In [28]:
import random
import numpy as np

#NO USADA POR BAJO PERFORMANCE
def generarEcuacion2():
    """
    Genera ecuación con números y signos aleatorios, igual que la anterior (No usada por bajo PERFORMANCE con #s > a 75)
    :return: ecuación(str)
    """
    signs = ['+', '-', '*', '/']
    num = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
    numeros =np.random.default_rng().choice(num, 5, replace=False)
    signos = np.random.default_rng().choice(signs, 4, replace=False)
    signos = np.append(signos, '')
    lista = np.column_stack((numeros, signos)).reshape(10)
    return ''.join([str(elem) for elem in lista])

In [29]:
def encontrarEcuacion(minimo, maximo, intentos=50000):
    """
    Función que evalúa con recursividad si el la función devulta por generarEcuacion2() al ser evaluada coincide con un # específico.

    :param minimo: valor mínimo
    :param maximo: valor máximo
    :param intentos: # de intentos para encontrar el valor buscado
    :return: lista de ecuaciones, valor e intentos
    """ 
    res=0
    ecuacion=''
    contador=0
    
    #Creo una array con X filas y 3 columnas, col[0]=ecuacion, col[1]=Numero, col[2]=intentos
    outputList=np.full((maximo,3), "", dtype=object)

    for num in range(minimo, maximo+1):
        #print(num)
        contador=0
        while res !=num:
            contador+=1
            #Genera la ecuación
            #ecuacion = generarEcuacion()
            ecuacion = generarEcuacion2()
            res=eval(ecuacion)
            if contador >= intentos:
                ecuacion='No Encontrada'
                break
        
        outputList[num-1][0] = ecuacion
        outputList[num-1][1] = num
        outputList[num-1][2] = contador
    
    return outputList

In [30]:
import pandas as pd
from IPython.display import display, HTML
#Se llama la funcion para generar un rango de ecuaciones
data = encontrarEcuacion(1,95, 20000)
#Elimino filas en blanco
data = data[~np.all(data == '', axis=1)]

#Utilizo panda solo para imprimir
dataset = pd.DataFrame({'Ecuacion': data[:, 0], 'Valor': data[:, 1], 'Intentos': data[:, 2]})

display(HTML(dataset.to_html()))

Calcula la complejidad del algoritmo por fuerza bruta: <b>O(n^2)</b>

Respuesta

In [31]:
from time import time
import pandas as pd
from IPython.display import display, HTML

datosEntrada = [[1,  20], [ 1,  50], [1, 70], [1, 95]]
for x in datosEntrada:
    print(f'Datos de entrada: {x}, Intentos: 2000')
    start_time = time()
    #Se llama la funcion para generar un rango de ecuaciones
    data = encontrarEcuacion(x[0],x[1], 20000)
    #Elimino filas en blanco
    data = data[~np.all(data == '', axis=1)]
    elapseTime = time() - start_time
    print(f"======= Tiempo de ejecución: {elapseTime} =======")

Datos de entrada: [1, 20], Intentos: 2000
======= Tiempo de ejecución: 0.668764591217041 =======
Datos de entrada: [1, 50], Intentos: 2000
======= Tiempo de ejecución: 4.488668918609619 =======
Datos de entrada: [1, 70], Intentos: 2000
======= Tiempo de ejecución: 14.550047636032104 =======
Datos de entrada: [1, 95], Intentos: 2000
======= Tiempo de ejecución: 103.0591368675232 =======

(*)Diseña un algoritmo que mejore la complejidad del algortimo por fuerza bruta. Argumenta porque crees que mejora el algoritmo por fuerza bruta

Respuesta

In [32]:
import random
import numpy as np

#Genera ecuación con números y signos aleatorios
def generarEcuacion():
    """
    Funcion que genera ecuación aleatoria

    :return: ecuación(str)
    """
    outputList = []
    lista = ["num", "sign", "num", "sign", "num", "sign", "num", "sign", "num"]
    signs = ['+', '-', '*', '/']
    
    for item in lista:
        elemento=''
        if item == "num":
            while True:
                elemento = random.randint(1, 10)
                if elemento not in outputList:
                    outputList.append(elemento)
                    break
        else:
            while True:
                #elemento = np.random.choice(signs)
                elemento = random.choice(signs)
                #elemento = np.random.default_rng().choice(signs)
                if elemento not in outputList:
                    outputList.append(elemento)
                    break
                    
    listToStr = ''.join([str(elem) for elem in outputList])
    return listToStr

In [33]:
def encontrarEcuacion2(minimo, maximo, intentos=50000):
    """
    Función que evalúa con recursividad si el la función devulta por generarEcuacion() al ser evaluada coincide con un # específico.

    :param minimo: valor mínimo
    :param maximo: valor máximo
    :param intentos: # de intentos para encontrar el valor buscado
    :return: lista de ecuaciones, valor e intentos
    """ 
    res=0
    ecuacion=''
    contador=0
    
    #Creo una array con X filas y 3 columnas, col[0]=ecuacion, col[1]=Numero, col[2]=intentos
    outputList=np.full((maximo,3), "", dtype=object)

    for num in range(minimo, maximo+1):
        #print(num)
        contador=0
        while res !=num:
            contador+=1
            #Genera la ecuación
            ecuacion = generarEcuacion()
            res=eval(ecuacion)
            if contador >= intentos:
                ecuacion='No Encontrada'
                break
        
        outputList[num-1][0] = ecuacion
        outputList[num-1][1] = num
        outputList[num-1][2] = contador
    
    return outputList

(*)Calcula la complejidad del algoritmo

Respuesta

In [34]:
from time import time
import pandas as pd
from IPython.display import display, HTML

datosEntrada = [[1,  20], [ 1,  50], [1, 70], [1, 95]]
for x in datosEntrada:
    print(f'Datos de entrada: {x}, Intentos: 2000')
    start_time = time()
    #Se llama la funcion para generar un rango de ecuaciones
    data = encontrarEcuacion2(x[0],x[1], 20000)
    #Elimino filas en blanco
    data = data[~np.all(data == '', axis=1)]
    elapseTime = time() - start_time
    print(f"======= Tiempo de ejecución: {elapseTime} =======")

Datos de entrada: [1, 20], Intentos: 2000
======= Tiempo de ejecución: 0.06161856651306152 =======
Datos de entrada: [1, 50], Intentos: 2000
======= Tiempo de ejecución: 0.7052514553070068 =======
Datos de entrada: [1, 70], Intentos: 2000
======= Tiempo de ejecución: 1.3759191036224365 =======
Datos de entrada: [1, 95], Intentos: 2000
======= Tiempo de ejecución: 3.9752659797668457 =======

Según el problema (y tenga sentido), diseña un juego de datos de entrada aleatorios

Respuesta

In [35]:
import pandas as pd
from IPython.display import display, HTML
for i in range(5):
    minimo = random.randrange(1, 40)
    maximo = random.randrange(41, 95)
    print(f'\n\n\nMínimo: {minimo} === Maximo: {maximo}')


    #Se llama la funcion para generar un rango de ecuaciones
    data = encontrarEcuacion2(minimo,maximo, 20000)
    #Elimino filas en blanco
    data = data[~np.all(data == '', axis=1)]

    #Utilizo panda solo para imprimir
    dataset = pd.DataFrame({'Ecuacion': data[:, 0], 'Valor': data[:, 1], 'Intentos': data[:, 2]})

    display(HTML(dataset.to_html()))

Mínimo: 35 === Maximo: 65

Mínimo: 27 === Maximo: 62

Mínimo: 31 === Maximo: 89

Mínimo: 23 === Maximo: 73

Mínimo: 23 === Maximo: 69

Aplica el algoritmo al juego de datos generado

Respuesta: Hecho en el mismo punto donde se generaron los datos

Enumera las referencias que has utilizado(si ha sido necesario) para llevar a cabo el trabajo

Respuesta

Sólo para cuestiones tecnicas usé StackOverFlow y la ayuda de python:

https://stackoverflow.com/

Describe brevemente las lineas de como crees que es posible avanzar en el estudio del problema. Ten en cuenta incluso posibles variaciones del problema y/o variaciones al alza del tamaño

Respuesta

Para evitar ciclos de redundancia en búsqueda de un valor, si los valores generados no coinciden pero están dentro del rango de búsqueda se inserten(ejemplo si el rango de búsqueda de ecuaciones es 1-10 y la ecución generada es para el #4 pero la generada no coincide pero el valor es el #8 se inserta, así cuando toque buscar el 8 se ahorrarían recursividad).